<div class="sidebar"  >
    <a href="#">
        <i class="fas fa-home"></i>
    </a>
    <div style="flex: 1;"></div>
    <a href="https://twitter.com" target="_blank">
        <i class="fab fa-twitter social-icon"></i>
    </a>
    <a href="https://facebook.com" target="_blank">
        <i class="fab fa-facebook social-icon "></i>
    </a>
    <a href="https://instagram.com" target="_blank">
        <i class="fab fa-instagram social-icon "></i>
    </a>
    <a href="https://youtube.com" target="_blank">
        <i class="fab fa-youtube social-icon "></i>
    </a>

</div>